@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="ui raised very padded text container">
    <h2 class="ui header centered">Forgot Password</h2>
    <form asp-controller="Main" asp-action="ForgotPassword" class="ui large form validate-me" method="post">
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input asp-for="Email" placeholder="Email Address" />

                </div>

            </div>

            <input type="submit" class="ui large black submit button" value="Send" />
            <div asp-validation-summary="All" class="ui error message"></div>

        </div>
        @Html.AntiForgeryToken()
    </form>


</div>
