@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="ui raised very padded text container">
    <h2 class="ui header centered">Reset Password</h2>
    <form asp-controller="Main" asp-action="ResetPassword" class="ui large form validate-me" method="post">

        <input asp-for="Code" type="hidden" value="@Context.Request.Query["code"]" />
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input asp-for="Email" placeholder="Email Address" />

                </div>

            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input asp-for="Password" type="password" placeholder="Password" />

                </div>

            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />

                </div>

            </div>
            <input type="submit" class="ui large Red submit button" value="Reset" />
            <div asp-validation-summary="All" style="color: red;"></div>

        </div>
        @Html.AntiForgeryToken()
    </form>


</div>
